body {
  padding-top: 32px;
}

.strong {
  font-weight: bold;
}

.secondary {
  color: grey;
}

.small {
  font-size: 14px;
}

.list_name{
  display: inline-block;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 24px;
}

.table-cell {
  display: inline-block;
  min-width: 140px;
  margin-right: 24px;
}

.table_header>span{
  display: inline-block;
  min-width: 140px;
  margin-right: 24px;
}
.table_header .list_name{
  width: 300px;
  margin-left: 24px;
}